// change values and copy this file as 'config.js'
const CHANNEL_ID = '<your channel/user number id>'
const CLIENT_ID = '<the application client_id>'
const CLIENT_REDIRECT_URI = 'https://<the application url & path>'
const WS_PROXY_URL = 'http://<websocket-proxy>'
