.overlay {
  width: calc(var(--real-px) * (3840/2));
  height: calc(var(--real-px) * (2160/2));
  background: black;
}

#overlay-top {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(var(--real-px) * (3840/2));
  height: calc(var(--real-px) * (2160/2));
  z-index: 20;
}

#overlay-webcam-container {
  position: absolute;
  max-width: calc(var(--real-px) * (1920 / 5));
  max-height: calc(var(--real-px) * (1000 / 5));
  min-width: calc(var(--real-px) * (1920 / 5));
  min-height: calc(var(--real-px) * (1080 / 5));
  left: calc(var(--real-px) * (2920 / 2));
  top: calc(var(--real-px) * (1440 / 2));
  z-index: 10;
  overflow: hidden;
}

#overlay-webcam {
  max-width: calc(var(--real-px) * (1920 / 5));
  max-height: calc(var(--real-px) * (1080 / 5));
  min-width: calc(var(--real-px) * (1920 / 5));
  min-height: calc(var(--real-px) * (1080 / 5));
  filter: grayscale(60%) sepia(60%);
  margin-left: -40px;
  /* opacity: 0.75; */
  z-index: 10;
}

#overlay-scope {
  position: absolute;
  max-width: calc(var(--real-px) * (480 / 2));
  max-height: calc(var(--real-px) * (600 / 2));
  min-width: calc(var(--real-px) * (480 / 2));
  min-height: calc(var(--real-px) * (600 / 2));
  left: calc(var(--real-px) * (2960 / 2));
  top: calc(var(--real-px) * (1480 / 2));
  z-index: 35;
}


#overlay-monitor {
  position: absolute;
  max-width: calc(var(--real-px) * (1920 / 5));
  /* max-height: calc(var(--real-px) * (1080 / 5)); */
  min-width: calc(var(--real-px) * (1920 / 5));
  min-height: calc(var(--real-px) * (1080 / 5));
  left: calc(var(--real-px) * (2880 / 2));
  top: calc(var(--real-px) * (1400 / 2));
  z-index: 20;
}

#overlay-chat {
  position: absolute;
  /* max-width: calc(var(--real-px) * (800 / 2));
  max-height: calc(var(--real-px) * (800 / 2));
  min-width: calc(var(--real-px) * (800 / 2));
  min-height: calc(var(--real-px) * (800 / 2)); */
  max-width: calc(var(--real-px) * (1920 / 5));
  min-width: calc(var(--real-px) * (1920 / 5));
  min-height: calc(var(--real-px) * (1920 / 4));
  max-height: calc(var(--real-px) * (1920 / 4));
  left: calc(var(--real-px) * (2880 / 2));
  top: calc(var(--real-px) * (160 / 2));
  z-index: 10;
  background: rgba(30, 30, 30, 0.8); /* #1E1E1E is vuetify "dark" bg */
  border-radius: 10px;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}

#overlay-chat img {
  max-height: 16px; /* font-size */
  vertical-align: middle;
}

#overlay-chat > div {
  align-items: flex-start;
  font-family: 'Open Sans';
}

#overlay-chat .v-list-item__content {
  display: inline-block;
  padding: 0 0 4px 0;
  color: #E0E0E0; /* grey lighten-2 */
}

#overlay-chat > div:last-child {
  scroll-snap-align: end;
}

#overlay-capture {
  position: absolute;
  max-width: calc(var(--real-px) * (3760 / 2));
  max-height: calc(var(--real-px) * (2080 / 2));
  min-width: calc(var(--real-px) * (3760 / 2));
  min-height: calc(var(--real-px) * (2080 / 2));
  left: calc(var(--real-px) * (40 / 2));
  top: calc(var(--real-px) * (40 / 2));
  z-index: 10;
  mix-blend-mode: screen;
}

#overlay-particles {
  position: absolute;
  height: 100%;
  width: 100%;
}
