#overlay {
  min-width: calc(var(--real-px) * (3840/2));
  max-width: calc(var(--real-px) * (3840/2));
  min-height: calc(var(--real-px) * (2160/2));
  max-height: calc(var(--real-px) * (2160/2));
  background: black;
}

#overlay-top {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(var(--real-px) * (3840/2));
  height: calc(var(--real-px) * (2160/2));
  z-index: 30;
  background: url("/overlay-top.svg");
  background-size: contain;
}

#overlay-webcam-container {
  position: absolute;
  max-width: calc(var(--real-px) * (720 / 2));
  min-width: calc(var(--real-px) * (720 / 2));
  max-height: calc(var(--real-px) * (480 / 2));
  min-height: calc(var(--real-px) * (480 / 2));
  left: calc(var(--real-px) * (2880 / 2));
  top: calc(var(--real-px) * (1440 / 2));
  overflow: hidden;
  z-index: 20;
}

#overlay-webcam {
  max-height: calc(var(--real-px) * (480 / 2));
  /* -- "cut" the frame a bit on the left */
  /* margin-left: calc(-1 * var(--real-px) * (120 / 2)); */
}

#overlay-captions {
  --top: calc(1920 + 12);
  --height: calc(120 - 12);
  --width: 720;
  position: absolute;
  max-width: calc(var(--real-px) * (var(--width) / 2));
  min-width: calc(var(--real-px) * (var(--width) / 2));
  max-height: calc(var(--real-px) * ( var(--height) / 2));
  min-height: calc(var(--real-px) * ( var(--height) / 2));
  left: calc(var(--real-px) * (2880 / 2));
  top: calc(var(--real-px) * ( var(--top) / 2));
  z-index: 25;
  font-size: 12px;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  mix-blend-mode: difference;
}

#overlay-scope {
  position: absolute;
  max-width: calc(var(--real-px) * (480 / 2));
  max-height: calc(var(--real-px) * (600 / 2));
  min-width: calc(var(--real-px) * (480 / 2));
  min-height: calc(var(--real-px) * (600 / 2));
  left: calc(var(--real-px) * (2960 / 2));
  top: calc(var(--real-px) * (1480 / 2));
  z-index: 35;
}


#overlay-monitor {
  position: absolute;
  max-width: calc(var(--real-px) * (1920 / 5));
  /* max-height: calc(var(--real-px) * (1080 / 5)); */
  min-width: calc(var(--real-px) * (1920 / 5));
  min-height: calc(var(--real-px) * (1080 / 5));
  left: calc(var(--real-px) * (2880 / 2));
  top: calc(var(--real-px) * (1400 / 2));
  z-index: 10;
}

#overlay-viewers {
  position: absolute;
  left: calc(var(--real-px) * (2880 / 2));
  top: calc(var(--real-px) * (1200 / 2));
  margin-top: calc(var(--real-px) * 12);
  background: rgba(30, 30, 30, 0.8); /* #1E1E1E is vuetify "dark" bg */
  z-index: 12;
}

#overlay-chat {
  position: absolute;
  max-width: calc(var(--real-px) * (720 / 2));
  min-width: calc(var(--real-px) * (720 / 2));
  min-height: calc(var(--real-px) * (960 / 2));
  max-height: calc(var(--real-px) * (960 / 2));
  left: calc(var(--real-px) * (2880 / 2));
  top: calc(var(--real-px) * (240 / 2));
  z-index: 12;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}

#overlay-chat img {
  max-height: calc(1.1 * 16px); /* line-height * font-size */
  vertical-align: middle;
}

#overlay-chat img.emote.big {
  max-height: calc(4 * 16px);
}

#overlay-chat > div {
  align-items: flex-start;
  font-family: 'Open Sans';
}

#overlay-chat .v-list-item__content {
  display: inline-block;
  padding: 0 0 4px 0;
  color: #E0E0E0; /* grey lighten-2 */
}

#overlay-chat > div:last-child {
  scroll-snap-align: end;
}

#overlay-capture {
  position: absolute;
  max-width: calc(var(--real-px) * (3840 / 2));
  max-height: calc(var(--real-px) * (2160 / 2));
  min-width: calc(var(--real-px) * (3840 / 2));
  min-height: calc(var(--real-px) * (2160 / 2));
  left: 0; /* calc(var(--real-px) * (40 / 2)); */
  top: 0; /* calc(var(--real-px) * (40 / 2)); */
  z-index: 10;
  mix-blend-mode: screen;
}

#overlay-particles {
  position: absolute;
  height: 100%;
  width: 100%;
}
